@font-face {
    font-family: letra-arabe;
    src:url(hidayatullah\ DEMO.ttf);
}


p{
    font-size: 50px;
}
body{
    background-color: rgb(14, 163, 223);
    height: 100vh;
    font-family: letra-arabe;
}
a{
    font-size: 24px;
}
a:hover{
        color: red;
    }